/*
 */
 @font-face {
  font-family: Graublau Sans Web;
  src: url(../fonts/GraublauWeb.otf) format("opentype");
}

/******* Orokorrak *******/
.reveal {
    font-family: 'Open Sans', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Graublau Sans Web', sans-serif;
    }

    h1 {
        font-size: 48px;
        text-shadow: none;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    ul {
        text-align: left;
        width: 600px;
        margin: 0 auto;

        li {
            list-style-type: none;
            background-image: url(../img/bonbila.png);
            background-repeat: no-repeat;
            line-height: 30px;
            padding-left: 30px;
            padding-bottom: 30px;
            font-size: 20px;
        }

        ul {
            margin-left: 75px;
        }
    }

    a {
        color: #B3BA33;
        text-decoration: none;

        &:hover img {
            background: none;
            border-color: none;
            box-shadow: none;
        }
    }

    strong {
        font-weight: bold;
    }

    iframe {
        margin-left: auto;
        margin-right: auto;
    }

    section img {
        background: none;
        border: none;
        box-shadow: none;
    }


    /******* Nabigazioko geziak *******/
    .controls {
        .navigate-up, .navigate-up.enabled {
            border-bottom-color: #B3BA33;
        }
        .navigate-right, .navigate-right.enabled {
            border-left-color: #B3BA33;
        }
        .navigate-down, .navigate-down.enabled {
            border-top-color: #B3BA33;
        }
        .navigate-left, .navigate-left.enabled {
            border-right-color: #B3BA33;
        }
    }

    section {
        .azalpena {
            margin: 60px 0px 20px 0px;
        }

        &.sarrera {
            height: 100%;

            .izenburua {
                position: absolute;
                top: 250px;
            }
            .iametza {
                position: absolute;
                top: 0px;
                left: 0px;

                img {
                    width: 400px;
                }
            }
            .ideia-batetik-errealitatera {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 400px;
            }
            .nork {
                position: absolute;
                top: 500px;
                font-weight: bold;
                font-size: 32px;
                text-align: left;

                p {
                    margin-top: 10px;
                }
                a {
                    color: #B3BA33;
                }
            }
            .non {
                position: absolute;
                top: 595px;
                font-size: 26px;
            }
            .noiz {
                position: absolute;
                top: 640px;
                font-size: 26px;
            }
        }
        &.zer-da-ahuakemonala {
        }
        &.ahuakemonala-ezaugarriak {
            .azalpena {
                margin-top: 30px;

                .ahuakemonala-argazkixa {
                    width: 450px;
                }
            }
        }
        &.ahuakemonala-elementu-teknologiko-komunikatiboak-i {
        }
        &.ahuakemonala-elementu-teknologiko-komunikatiboak-ii {
            .irudia {
                float: right;
                width: 550px;

                .erabiltzaileak {
                    width: 100%;
                }
                .oina {
                    font-size: 12px;
                }
            }
            .google-play {
                margin-top: 80px;
            }
            .google-play, .app-store {
                width: 250px;
                margin-bottom: 30px;
            }
        }
        &.ahuakemonala-elementu-teknologiko-komunikatiboak-iii {
        }
        &.ahuakemonala-elementu-teknologiko-komunikatiboak-iv {
        }
        &.ahuakemonala-elementu-teknologiko-komunikatiboak-v {
        }
        &.ahuakemonala-elementu-teknologiko-komunikatiboak-vi {
            .irudia {
                width: 700px;
                margin: 0 auto;

                .bertso-saioa {
                    width: 100%;
                }
                .oina {
                    font-size: 12px;
                }
            }
        }
        &.ahuakemonala-elementu-teknologiko-komunikatiboak-vii {
        }
        &.ahuakemonala-elementu-teknologiko-komunikatiboak-viii {
            .irudiak {
                margin-left: 145px;
                margin-top: -20px;

                img {
                    width: 340px;
                    float: left;
                    margin: 10px;

                    &:first-child {
                        margin-top: 65px;
                    }
                }
            }
        }
        &.ahuakemonala-herria-komunitatea-partehartzea {

            .azalpena {
                margin-top: 20px;
                .puntuak {
                    float: left;
                    width: 475px;

                    .radixu {
                        margin-top: 10px;
                        text-align: center;
                    }
                }
                .irudiak {
                    float: right;
                    width: 425px;

                    .ahuakemonala-argazkixa {
                        width: 100%;
                    }
                }
            }
        }
        &.ahuakemonala-sekuentzia-logikoa {
            .azalpena {
                margin-top: 20px;
                .ahuakemonala-argazkixa {
                    width: 740px;
                    margin-bottom: 15px;
                }
            }
        }
        &.ahuakemonala-emaitzak {
        }
        &.ahuakemonala-ondorioak {
        }
        &.ahuakemonala-aplikazioa-bideoa {
        }
        &.ahuakemonala-aplikazioa-nola-sortu-zen-ideia {
        }
        &.ahuakemonala-aplikazioa-apm-android {
            .puntuak {
                float: left;

                .sa-matao-paco {
                    width: 500px;
                    margin: 0 auto;
                    display: block;
                    margin-top: 50px;
                }
            }
            .irudiak {
                float: right;

                .ahuakemonala-argazkixa {
                    height: 510px;
                }
            }
        }
        &.ahuakemonala-aplikazioa-ezaugarriak {
            .puntuak {
                float: left;

                .dendak {
                    text-align: center;
                    margin-top: 50px;

                    .google-play {
                        height: 65px;
                    }
                    .app-store {
                        height: 65px;
                    }
                }
            }
            .pantaila-argazkia {
                float: right;

                img {
                    height: 550px;
                }
            }
        }
        &.ahuakemonala-aplikazioa-ezaugarri-teknikoak {

            .irudiak {

                .irudia {
                    display: inline-block;
                    width: 40%;
                    text-align: center;
                    margin-top: 30px;

                    img {
                        width: 300px;

                        &.apache-cordova {
                        }
                        &.angularjs {
                        }
                        &.ionic {
                            width: 280px;
                        }
                        &.sqlite {
                            width: 165px;
                        }
                    }
                }
            }
        }
        &.galderarik {

            .irudiak {

                img {
                    vertical-align: middle;

                    &.iametza-logoa {
                        width: 300px;
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}
